@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFangSC-Medium, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; 
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}


.paginationBox {
  .el-pagination__jump {
    color: rgba(171, 189, 255, 1);
    .el-input__inner {
      background: none;
      color: rgba(171, 189, 255, 1);
      border-color:rgba(91, 126, 255, 1);
    }
  }
  text-align: center;
  padding: 20px 0;
  .el-pagination button:disabled {
    background: rgba(91, 126, 255, .25);
  }
  .el-pagination .btn-next,
  .el-pagination .btn-prev {
    background: rgba(91, 126, 255, .25);
    color: rgba(171, 189, 255, 1);
    border-radius: 2px;
  }
  .el-dialog,
  .el-pager li {
    background: rgba(91, 126, 255, .25);
    color: rgba(171, 189, 255, 1);
    margin: 0 4px;
    border-radius: 2px;
  }
}
.tableBox {
  .el-table--enable-row-hover .el-table__body tr:hover > td {
    border-top: 2px solid #5B7EFF;
    border-bottom: 2px solid #5B7EFF; 
    background: rgba(91, 126, 255, .3);
  }
  .el-table {
    background: none;
    .el-table__body {
      border-collapse: separate;
      border-spacing: 0px 8px;
    }
  }
  .el-table th {
    background: rgba(91, 126, 255, .3);
    color: rgba(171, 189, 255, 1); 
    padding: 7px 0px;
  }
  .el-table td{
    padding: 4px 0px;
  } 
  .el-table tr {
    color: #fff;
    background: none;
  }
  .el-table tbody tr > td:first-child {
    border-left: 4px solid rgba(91, 126, 255, 1);
  }
  .el-table--enable-row-hover .el-table__body tr:hover > td:last-child{
    border-right: 2px solid #5B7EFF; 
  }
  .el-table td,
  .el-table th.is-leaf {
    border-top: 2px solid rgba(91, 126, 255, 0);
    border-bottom: 2px solid rgba(91, 126, 255, 0); 
    box-sizing: border-box;
  }
  .el-table::before {
    height: 0px;
  }

  .el-table .success-row {
    background: rgba(91, 126, 255, 0.1);
  }
}
.colorc {
  color: rgba(225, 225, 225, .8);
}
.tableBox {
  .detailBtn {
    height: 30px;
    width: 100px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    background: linear-gradient(90deg, rgba(91, 126, 255, .4) 0%, rgba(138, 191, 255, .4) 47%, rgba(91, 126, 255, .4) 100%);
    border-radius: 4px;
    border: 1px solid rgba(91, 126, 255, 0.4);
    position: relative;
    cursor: pointer;
    img {
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
      margin-left: 10px;
    }
  }
  .colorC {
    padding: 5px 10px;
    border-radius: 4px;
  }
  .colorR {
    color: rgba(255, 33, 33, 1);
    background: rgba(255, 33, 33, 0.24);
  }
  .colorR1 {
    color: rgba(255, 114, 70, 1);
    background: rgba(255, 114, 70, 0.24);
  }
  .colorY {
    color: rgba(255, 169, 51, 1);
    background: rgba(255, 169, 51, 0.24)
  }
  .colorY1 {
    color: rgba(255, 235, 101, 1)red;
    background: rgba(255, 235, 101, 0.24);
  }
  
  .colorr {
    color: rgba(255, 158, 99, 1);
  }
  .colorg {
    color: rgba(119, 255, 122, 1);
  }
  .colorb {
    color: rgba(103, 157, 255, 1);
  }
}
.searchBox {
  .el-input__inner {
    background: none;
    color: rgba(212, 221, 255, 1);
    border-color: rgba(91, 126, 255, 1);
  }
  .searcBtn {
    line-height: 40px;
    span{
      margin:0px 10px;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

/*修改提示文字的颜色*/
.searchBox input.el-input__inner::-webkit-input-placeholder { /* WebKit browsers */ 
  color: rgba(171, 189, 255, .6); 
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
  color: rgba(171, 189, 255, .6); 
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
  color: rgba(171, 189, 255, .6); 
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
  color: rgba(171, 189, 255, .6); 
  }

  
  .popoverBox.el-popper{
    // width: auto!important;
    padding: 0;
    .popoverBoxInner{
      background-color: rgba(23,39,90,.8);
      padding: 13px;
    }
    .showAddBox{
      .el-dialog__body{
        .el-form{
          // border-bottom: 1px dashed rgba(255, 255, 255, .3);
          .el-form-item{
            margin-bottom: 10px;
          }
        }
      }
    }
    background: rgba(91, 126, 255, .3);
    border: 0px;
    margin-right: 20px;
    .el-dialog__header{
      padding: 0px 0px 13px 0px;
      border-bottom: 1px dashed rgba(255, 255, 255, .3);
      .el-dialog__title{ 
        color: rgba(255, 255, 255, 1);
      }
    }
    .el-dialog__body{
      .el-form{
        // border-bottom: 1px dashed rgba(255, 255, 255, .3);
        .el-form-item{
          margin-bottom: 10px;
        }
        .el-textarea__inner{
          height: 87px;
        }
        
.el-select,.el-date-editor{
  width: 100%;}
        .el-form-item__label{
          color: rgba(225, 225, 225, .7);
        }
        .el-progress-bar__outer{
          background: rgba(255, 255, 255, .1); 
          border: 1px solid rgba(255, 255, 255, .2);
        }
        .el-progress-bar__outer::before{
          content: "";
          width: 8px;
          height: 8px;
          display: inline-block;
          background-color: rgba(255, 255, 255, .6);
          border-radius: 50%; 
          vertical-align: top;
        }
        .el-progress-bar__outer::after{
          position: absolute;
          content: "";
          width: 100%; 
          height: 2px;
          display: inline-block;
          background-color: rgba(255, 255, 255, .3); 
          top:0;
        }
        .customColors{
          .el-progress-bar__outer{ 
            border: 1px solid rgba(255, 171, 91, .6);
         }
         .el-progress-bar__outer::before{
           display: none;
         }
         .el-progress-bar__outer::after{
           background:rgba(255, 171, 91, 1)
         }
       }
        .customsuccessColors{
          .el-progress-bar__outer{
            border: 1px solid rgba(119, 255, 122, .6);
          }
          .el-progress-bar__outer::before{
            display: none;
          }
          .el-progress-bar__outer::after{
            background:rgba(119, 255, 122, 1)
          }
        }
       
        
      }
      padding: 0;
      color:#FFF;
      
    }
     .popper__arrow,  .popper__arrow::after{
      display: none;
    } 
  }
.lineSpan{
  height: 1px ;
  border-bottom: 1px dashed rgba(255, 255, 255, .3);
  width: 100%;
}


.el-dialog__footer{
  margin-top: 20px;
  text-align: center;
  .addBtn {
    padding: 7px 0px;
    width: 102px;
    text-align: center; 
    border-radius: 4px;
    font-size: 14px;
    background: linear-gradient(
      90deg,
      rgba(91, 126, 255, 0.6) 0%,
      rgba(138, 191, 255, 0.6) 47%,
      rgba(91, 126, 255, 0.6) 100%
    );
   
    border-radius: 4px;
    border: 1px solid #5b7eff;
    display: inline-block;
    cursor: pointer;   
    color: #fff;
  }
  .closeBtn {
    background: linear-gradient(
      90deg,
      rgba(91, 126, 255, 0.3) 0%,
      rgba(138, 191, 255, 0.3) 47%,
      rgba(91, 126, 255, 0.3) 100%
    );
    margin-left: 34px;
  }
}

.lableText{
  margin: 25px 0px 6px;
  font-weight: 700;
}
.el-input {
  .el-input__inner{
    
  border: 1px solid rgba(91, 126, 255, 0.66);
  background: none;
  color:#fff
  }
}
.el-input.is-disabled{
.el-input__inner{ 
background:rgba(129,156,255, 0.2);
  border-color: rgba(91, 126, 255, 0.66);
  color: rgba(171, 189, 255, 1); 
}
}
.el-textarea__inner{
  background: none;
  border: 1px solid rgba(91, 126, 255, 0.66);
  color:#fff
} 

.el-select{ 
.el-input__inner{
  background: none;
  border-color: rgba(91, 126, 255, 1);
}
}
.popoverBox.el-popper .el-dialog__body .el-form .is-required .el-form-item__label,.formcolorr{
  color:rgba(255, 63, 63, 1)
}
.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
  content:""
}
.is-required{
  .el-form-item__label{
    color:rgba(255, 63, 63, 1)
  }
}
.el-time-panel{
  
  border:0px;
  color:#fff;
  background: rgba(91, 126, 255, .4);
  .el-time-panel__content ,.el-time-panel__footer{
    background: rgba(16, 28, 64, 0.8);
  border:0px;
  
  color:#fff;
  }
  .el-time-spinner__item,.el-time-spinner__item.active:not(.disabled){
    color:#fff
  }
  .el-time-spinner__item:hover:not(.disabled):not(.active){
    background:none;
    color: #fff;
  }
}
.el-date-table td.end-date span, .el-date-table td.start-date span{
  background: rgba(91, 126, 255, 1);
  border-radius: 4px;
}
.el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div{
  background: rgba(91, 126, 255, .4)
}
.el-date-table td.start-date div{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px
}
.el-date-table td.end-date div{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px
}
.el-picker-panel{
  
  .el-date-table td.current:not(.disabled) span{
    background: rgba(91, 126, 255, 1);
    border-radius: 4px;
  }
  background: rgba(91, 126, 255, .4);
  .el-picker-panel__body-wrapper,.el-picker-panel__footer{
  background: rgba(16, 28, 64, 0.8);
  border:0px
  }
  border:0px;
  .el-date-picker__time-header{
    border:0px
  }
  .el-date-table th{
    border:0px
  }
  color:#fff;
  .el-picker-panel__icon-btn,.el-date-picker__header-label{
    color: #fff
  }
  .el-button.is-plain{  
    background: linear-gradient(
      90deg,
      rgba(91, 126, 255, 0.3) 0%,
      rgba(138, 191, 255, 0.3) 47%,
      rgba(91, 126, 255, 0.3) 100%
    );
    border: 1px solid #5b7eff; 
    color: #fff;
  }
  .el-date-table th{
    color:rgba(225, 225, 225, .65)
  }
}
.el-select-dropdown {
  .el-select-dropdown__list{
    
  background: rgba(16, 28, 64, 0.8);
  }
//   第一层： R91  G126  B255   40%透明度
// 第二层： R16  G28  B64  80%透明度
  background: rgba(91, 126, 255, 0.4);
  border: 0px;
  .el-select-dropdown__item {
    color: rgba(228, 234, 255, 1);
  }
  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    background: rgba(91, 126, 255, 0.4);
  }
}
.el-popper{
  margin-top: 0px!important;
}
.el-popper .popper__arrow, .el-popper .popper__arrow::after{
  display: none;
}